In [2]:
for numbers in [1,2,3,4,5,6]:
    print(numbers)

1
2
3
4
5
6

In [6]:
for number in range(1,7):
    print(number)

1
2
3
4
5
6

In [7]:
range(6) # returns an iterable containing numbers from start tup to but not included end

range(0, 6)

In [8]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [9]:
list(range(2, 6))

[2, 3, 4, 5]

## Range

In [12]:
##JAVA/ C STYLE OF object in array access(BAD):
animals = ["cat",  "dog", "bird"]
for index in range(len(animals)):
    print(index, animals[index])

0 cat
1 dog
2 bird

In [15]:
# IF YOU NEED INDICIES USE ''ENUMERATE' ( TO REPLACE 'range(len(a_list))'');
animals = ["cat",  "dog", "bird"]
for index, value in enumerate(animals):
    print(index, value)

0 cat
1 dog
2 bird

In [16]:
animals = ["cat",  "dog", "bird"]
for index, value in enumerate(animals):
    if value=='dog':
        break
    print(index, value)

0 cat

In [17]:
animals = ["cat",  "dog", "bird"]
for index, value in enumerate(animals):
    if value=='dog':
        continue
    print(index, value)

0 cat
2 bird

In [23]:
# Can loop over lists, strings, iterations, dictonaries, sequences like things
my_dict = {"name": "matt", "cash":5.45}
for key in my_dict:
    print(key)

name
cash

In [24]:
for value in my_dict.values():
    print(value)

matt
5.45

In [25]:
for key, value in my_dict.items():
    print(key, value)

name matt
cash 5.45